body {
    background: #1F1D2B;
    
  }

  header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }
  
  
  .titulo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;
  }
  
  .search {
    border-radius: 10px;
    border: none;
    background-color: white;
    opacity: 20%;
    flex-grow: 2;
  }

  .search input{
    width: 100%;
  }
  
  .search::placeholder {
    color: rgba(128, 129, 145, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
  }
  
  
  #profile{
    
    height: 32px;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    
  }
  
  #profile-name {
    font-family: 'Poppins', sans-serif;
    height: 13px;
    color: white;
    margin: 0px;
  }
  
  #profile-img {
    
    width: 32px;
    height: 32px;
    object-fit: cover;
    clip-path: circle();
    order: -1;
  }
  
  #menu {
    position: absolute;
    top: 108px;
    left: 32px;
    width: 148px;
    height: 323px;
  }
  
  #menu-title,
  #category-title {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgba(128, 129, 145, 1);
    margin-bottom: 40px;
  }
  
  .icons {
    position: relative;
    display: grid;
    gap: 32px;
  }
  
  .iconName {
    font-size: 14px;
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgba(128, 129, 145, 1);
  }
  
  .icons a {
    text-decoration: none;
    transition: 0.3s;
  }
  
  .icons a i {
    color: black;
    text-decoration: none;
    border: 6px solid rgba(128, 129, 145, 1);
    background-color: rgba(128, 129, 145, 1);
    border-radius: 5px;
    font-size: 24px;
  }
  
  .icons a:hover {
    transform: translateY(-8px);
  }
  
  .icons a i:hover {
    background: orange;
    border: 6px solid orange;
  }
  
  .barra-1 {
    width: 148px;
    height: 1px;
    background: rgba(52, 55, 60, 1);
    position: absolute;
    top: 479px;
    left: 32px;
  }
  
  #category {
    position: absolute;
    top: 527px;
    left: 32px;
    width: 148px;
    height: 259px;
  }
  
  .barra-2 {
    width: 148px;
    height: 1px;
    background: rgba(52, 55, 60, 1);
    position: absolute;
    top: 834px;
    left: 32px;
  }
  
  #title {
    position: absolute;
    top: 108px;
    left: 282px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 40px;
    margin: 0px;
  }
  
  /*CLASSE DA DIV DOS CONTEÚDOS*/
  .discover {
    position: relative;
    top: 176px;
    left: 282px;
    max-width: 1101px;
    height: 366px;
    display: flex;
    justify-content: space-between;
  }
  
  /*TEXTO DOS CONTEÚDOS*/
  
  .desc {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    margin: 0px;
    z-index: 1;
  }
  
  /*FORMATO DA FOTO DE PERFIL*/
  .photo-perfil {
    width: 60px;
    height: 60px;
    object-fit: cover;
    clip-path: circle();
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
  }
  
  /*PRIMEIRO CONTEUDO*/
  #content-1{
    background-size: cover;
    width: 725px;
    height: 366px;
    background-image: url("./imgs/image-1.png");
    
    
  }
  
  
  #skt-1 {
    width: 725px;
    height: 366px;
    border-radius: 20px;
  }
  
  
  #desc-perfil-1{
    
    top: 40px;
    left: 40px;
  }
  
  #user-profile-1 {
   
    top: 214px;
    left: 35px;
    width: 234px;
    height: 60px;
  }
  
  
  .desc-user {
    margin: 0px;
    width: 177px;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: grid;
    font-size: 12px;
  }
  
  #desc-user-1{
    
    top: 11px;
    left: 88px;
  }
  
  #time-user-1 {
    
    left: 662px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time {
    width: 46px;
    height: 20px;
    background: rgba(36, 39, 48, 1);
    border-radius: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: bold;
  }
  
  /*SEGUNDO CONTEUDO*/
  
  #content-2{
    width: 352px;
    height: 366px;
    position: relative;
  
  }
  
  
  #skt-2 {
    width: 352px;
    height: 366px;
    border-radius: 20px;
  }
  
  #desc-perfil-2{
    position: absolute;
    top: 40px;
    left: 40px;
    
  }
  
  #desc-user-2{
    position: absolute;
    top: 0px;
  }
  
  #user-profile-2 {
    position: absolute;
    top: 168px;
    left: 40px;
    width: 163px;
    height: 37px;
  }
  
  #photo-perfil-2{
    position: absolute;
    top: 57px;
    
  }
  #time-user-2 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /*TERCEIRO CONTEUDO*/